xbotg/config.py
xbotg/*.session
xbotg/*.session-journal
xbotg/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
xbotg/modules/helper_funcs/temp.txt
xbotg/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
xbotg.session-journal
xbotg/elevated_users.json
