future
emoji
beautifulsoup4
requests
sqlalchemy
python-telegram-bot==11.1.0
pythonping
psycopg2-binary
pytz
PyLyrics
pyrogram
telethon
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
lxml
bs4
demjson
wget
nltk
tswift
psutil
telegraph
fontTools
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
googletrans
jikanpy
speedtest-cli
coffeehouse
typing
tgcrypto
gtts
wikipedia
pyowm
animu-cf
uptime
psutil
py-cpuinfo
nekos.py
spamwatch
covid
alphabet_detector
bleach
hurry.filesize
PyAML
markdown2
tldextract
kbbi
gsearch
translator
search_engine_parser
